---
version: 2
interactions:
- id: 0
  request:
    host: ""
    body: '{"input":["The quick brown fox","Pack my box with five dozen liquor jugs","How vexingly quick daft zebras jump"],"model":"hf:nomic-ai/nomic-embed-text-v1.5"}'
    headers:
      Content-Type:
      - application/json
    url: https://api.synthetic.new/openai/v1/embeddings
    method: POST
  response:
    body: '{"object":"list","data":[{"object":"embedding","index":0,"embedding":[-0.04443359375,0.01015472412109375,-0.131103515625,-0.003826141357421875,-0.001033782958984375,0.002689361572265625,-0.0272369384765625,-0.0247802734375,0.056976318359375,-0.045928955078125,-0.004886627197265625,0.061309814453125,0.040802001953125,-0.01190185546875,0.011932373046875,-0.032318115234375,0.07135009765625,-0.055511474609375,0.08258056640625,-0.0044097900390625,0.0057525634765625,0.048828125,0.034759521484375,-0.0162811279296875,0.1094970703125,0.026641845703125,-0.0361328125,0.0315[...]
