---
version: 2
interactions:
- id: 0
  request:
    host: ""
    body: '{"input":["The quick brown fox"],"model":"hf:nomic-ai/nomic-embed-text-v1.5"}'
    headers:
      Content-Type:
      - application/json
    url: https://api.synthetic.new/openai/v1/embeddings
    method: POST
  response:
    body: '{"object":"list","data":[{"object":"embedding","index":0,"embedding":[-0.0443115234375,0.01013946533203125,-0.131103515625,-0.0038928985595703125,-0.0010318756103515625,0.0027256011962890625,-0.027252197265625,-0.0247344970703125,0.056884765625,-0.045989990234375,-0.004901885986328125,0.061431884765625,0.04083251953125,-0.011932373046875,0.011810302734375,-0.0322265625,0.07135009765625,-0.05560302734375,0.08251953125,-0.004413604736328125,0.005779266357421875,0.048828125,0.0347900390625,-0.01617431640625,0.109619140625,0.02655029296875,-0.036102294921875,0.031463[...]
