---
version: 2
interactions:
- id: 0
  request:
    host: ""
    body: '{"input":["The quick brown fox"],"model":"hf:nomic-ai/nomic-embed-text-v1.5","dimensions":256}'
    headers:
      Content-Type:
      - application/json
    url: https://api.synthetic.new/openai/v1/embeddings
    method: POST
  response:
    body: '{"object":"list","data":[{"object":"embedding","index":0,"embedding":[-0.07440185546875,0.0170135498046875,-0.219970703125,-0.006534576416015625,-0.0017309188842773438,0.004573822021484375,-0.045745849609375,-0.04150390625,0.09552001953125,-0.0771484375,-0.0082244873046875,0.1031494140625,0.06854248046875,-0.0200347900390625,0.0198211669921875,-0.054107666015625,0.1197509765625,-0.09332275390625,0.138427734375,-0.007404327392578125,0.00969696044921875,0.08197021484375,0.058380126953125,-0.02716064453125,0.1839599609375,0.0445556640625,-0.06060791015625,0.05279541[...]
